#time-limit {
    position: relative;
    display: none;
}

#time-limit #wrap-time-limit {
    position: fixed;
    z-index: 999;
    width: 500px;
    background-color: hsl(0, 100%, 100%);
    font-family: 'Open Sans', sans-serif;
    border-top: 3px transparent solid;
    transition: all ease-in-out .2s;
    opacity: 0;
}

#time-limit #wrap-time-limit.active {
    opacity: 1;
}

#time-limit #wrap-time-limit > div {
    padding: 1em;
}

#time-limit h2 {
    margin: 0;
    padding: 0;
}

#time-limit p {
    font-weight: 300;
}

#time-limit p a {
    font-weight: 400;
}

#time-limit button {
    background: transparent;
    border: none;
    font-weight: 300;
    color: hsl(0, 100%, 100%);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.3em;
    width: 100%;
    border-radius: 5px;
    padding: .5em 0;

}

#time-limit::after {
    content: " ";
    position: fixed;
    background-color: hsla(0, 0%, 0%, .7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
